.data .table-additional-info {
    display: none;
}

.data-table .field-value-compressed {
    width: 100px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.data-table .field-value-compressed:hover {
    overflow: scroll;
    white-space: normal;
    width: 200px;
    height: auto;
    max-height: 100px;
}