.data .table-additional-info {
    display: none;
}

.data-table .field-value-compressed {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.data-table .field-value-compressed:hover {
    overflow: visible;
    white-space: normal;
    width: 500px;
    height: 500px;
}